<% # These are modals that describe the different order needs. %>
<div class="modal" id="handbill_modal">
	<h3>Handbill Information</h3>
	<p>Handbills are small prints used to promote organizations and events.</p>

	<h4>4.25" x 5.5"</h4>
	<p>This is generally used for in-house / SGA printing.  You can fit 4 handbills of this size on a standard 8.5" x 11" sheet of paper.</p>

	<h4>4" x 6"</h4>
	<p>These are the preferred dimensions for online printing services.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

<div class="modal" id="poster_modal">
	<h3>Poster Information</h3>
	<p>Posters are larger prints that are used to promote events on campus or at affiliated venues.</p>

	<h4>8.5" x 11"</h4>
	<p>Posters this size are typically displayed <em>or</em> distributed.</p>

	<h4>11" x 17"</h4>
	<p>These posters are normally used for display.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

<div class="modal" id="a_frame_modal">
	<h3>A-Frame Information</h3>
	<p>Aframes are large sidewalk signs that are used to promote events on campus or at affiliated venues.</p>

	<h4>22" x 28"</h4>
	<p>Used by ROS at regional campuses.</p>

	<h4>41" x 55"</h4>
	<p>Size for SGA printing.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

<div class="modal" id="banner_modal">
	<h3>Banner Information</h3>
	<p>Banners are large sidewalk signs that are used to promote events on campus or at affiliated venues.</p>

	<h4>Vendor Specific</h4>
	<p>Banner sizes tend to be vendor-specific. Contact the printer to find out what sizes they support.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

<div class="modal" id="newspaper_modal">
	<h3>Newspaper Information</h3>
	<p>Newspaper ads are for <a href="http://www.centralfloridafuture.com/">The Central Florida Future</a>.</p>

	<h4>1/4, 1/3, 1/2, or Full Page</h4>
	<p>Pick a size that fits your needs.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure which size would be best.</p>
</div>

<div class="modal" id="t_shirt_modal">
	<h3>T-Shirt Information</h3>
	<p>T-Shirts can have designs on the front, back, and sleeves.</p>

	<h4>Vendor Specific</h4>
	<p>It's probably best to contact your vendor and see what is available. Also consult your advisor concerning the cost of printing and the number of colors you'll want to have.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure what would be best.</p>
</div>

<div class="modal" id="logo_modal">
	<h3>Logo Information</h3>
	<p>Logos represent your organization to the general public.</p>

	<h4>Multiple Formats</h4>
	<p>It's common to have multiple formats of your logo (square, extended length, etc.) for different uses. Think about where your logo might eventually be displayed, and consult a designer about your choices.</p>

	<h4>Unsure?</h4>
	<p>E-mail your advisor if you're not sure what would be best.</p>
</div>

<div class="modal" id="brochure_modal">
	<h3>Brochure Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="program_modal">
	<h3>Program Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="fb_event_photo_modal">
	<h3>FB Event Photo Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="fb_cover_photo_modal">
	<h3>FB Event Photo Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="fb_profile_photo_modal">
	<h3>FB Profile Photo Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="knightconnect_modal">
	<h3>Knight Connect Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="business_card_modal">
	<h3>Business Card Information</h3>
	<p>Coming soon.</p>
</div>

<div class="modal" id="union_tv_modal">
	<h3>Union TV Modal TEST</h3>
	<p>The Student Union is currently redoing how they run TV advertisements. Check back soon for more information.</p>
</div>





<div class="modal" id="event_promotion_modal">
	<h3>Event Promotion Information</h3>
	<p>Short Video that promotes an upcoming event using footage from a previous event or some sort of Teaser footage.</p>
	<p>Typical length: 1-2 minutes</p>
</div>

<div class="modal" id="live_production_modal">
	<h3>Live Production Information</h3>
	<p>Live Video Production at an event including live video switching or streaming over the internet.</p>
</div>

<div class="modal" id="event_recap_modal">
	<h3>Event Recap Information</h3>
	<p>Video recapping an event with footage from that event.</p>
	<p>Typical length: 2-4 minutes</p>
</div>

<div class="modal" id="exec_video_modal">
	<h3>Exec Video Information</h3>
	<p>Video highlighting an agencies exec board usually shown at an event.</p>
	<p>Typical Length: 3+ minutes</p>
</div>

<div class="modal" id="reveal_teaser_modal">
	<h3>Reveal Teaser Information</h3>
	<p>Video to announce new information to the public, for example Homecoming's Theme or Knight-Thon’s Fundraising Goal.</p>
	<p>Typical Length: 1-2 minutes</p>
</div>

<div class="modal" id="other_modal">
	<h3>Other Information</h3>
	<p>Not sure what's possible? Stop by and talk with one of the OSI Productions staff.</p>
</div>