		<div class="actions">
			<p>
				<%= link_to "Back to Orders", orders_path, :class => "button button-okay" %>
			</p>
		</div>

		<section>
			<h2>Create a Work Order</h2>
			<article class="form">
<%= render 'form' %>
			</article>